<div class="add-post-container">
  <form (submit)="addPost()" name="add-post-form">
    <mat-form-field>
      <input name="AuthorName" matInput placeholder="Imie i nazwisko" [(ngModel)]="model.authorName">
    </mat-form-field>

    <mat-form-field>
      <input name="telephone" matInput placeholder="Numer telefonu" [(ngModel)]="model.telephone">
    </mat-form-field>

    <mat-form-field>
      <input name="email" matInput type="email" placeholder="Email" [(ngModel)]="model.email">
    </mat-form-field>

    <mat-form-field>
      <input name="adress" matInput placeholder="Adres zamieszkania" [(ngModel)]="model.adress">
    </mat-form-field>

    <mat-form-field>
      <input name="photos" matInput placeholder="Załaduj zdjęcia" [(ngModel)]="model.photos">
    </mat-form-field>

    <mat-form-field>
      <input name="title" matInput placeholder="Tytuł" [(ngModel)]="model.title">
    </mat-form-field>

    <mat-form-field>
      <textarea name="description" matInput placeholder="Opis" [(ngModel)]="model.description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select name="stateOfBook" placeholder="Stan książki" [(ngModel)]="model.stateOfBook">
        <mat-option  value="0">Nowa</mat-option>
        <mat-option value="1">Lekko używana</mat-option>
        <mat-option value="2">Używana</mat-option>
        <mat-option value="3">Zniszczona</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field>
      <input name="bookAuthor" matInput placeholder="Autor książki" [(ngModel)]="model.bookAuthor">
    </mat-form-field>

    <mat-form-field>
      <input name="publishDate" matInput placeholder="Rok wydania" [(ngModel)]="model.publishDate">
    </mat-form-field>

    <mat-form-field>
      <input name="price" type="number" matInput placeholder="Cena" [(ngModel)]="model.price">
    </mat-form-field>

    <button mat-raised-button type="submit">Dodaj</button>

  </form>

</div>
